<div class="backdrop" [@backdrop] class="modal" >
<div class="box" [@box] style="width: 50%; height: 50%; align-content: center;text-align: center">
	<div #container style="width: 50%; height: 50%;  align-content: center;text-align: center"  >

        <table class="modal">
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
               <td><button mat-raised-button color="primary" (click)="close()">Ok</button></td>               
            </tr>
        </table>
    </div>
</div>