<mat-dialog-content class="mat-typography">
<div *ngIf="this._data._screen == 'articulo'; else next1">
  <table >
    <tbody >
      <tr><td></td></tr>
        <tr>
           <td style="padding-top: 10%" >
            <mat-form-field appearance="outline">
                <mat-label>Codigo articulo</mat-label>
                <input matInput type="text" [(ngModel)]="this._data._articul.Code" (ngModelChange)="cargarCodigo()"  placeholder="Codigo articulo" maxlength="10" [disabled]="this._data.bDsiable"   >               
            </mat-form-field>
           </td>
          
           <td style="padding-top: 10%;width: 100px" >
         
            <mat-form-field appearance="outline">
              <mat-label>Cantidad</mat-label>             
              <input matInput type="number" min="0" placeholder="Cantidad" [disabled]="this._data.bDsiable" [(ngModel)]="this._data._articul.Unity" >               
             
            </mat-form-field>
          
         </td>
        
           <td rowspan="5" style="width: 50%">
            <img width="100%" height="300px" [src]="this._fileSelected == undefined ? this._fileNotSelected :  this._fileSelected" (click)="OnFileSelected($event)" >
            <!--<button mat-stroked-button style="width: 100%; height: 300px" (click)="OnFileSelected($event)" [disabled]="this._data.bDsiable">Image</button>-->
            <input  type="file" #file (change)="OnFileSelected($event)" style="visibility: hidden" [disabled]="this._data.bDsiable"/>
          </td>
        </tr>            
         <tr> 
           <td >
             <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
                 <input matInput type="text" placeholder="Nombre" [disabled]="this._data.bDsiable" [(ngModel)]="this._data._articul.Name" >               
            </mat-form-field>
                    </td>
                    <td></td>
                    <td></td>           
        </tr>
        <tr>
          <td >
           <mat-form-field appearance="outline">
               <mat-label>Model</mat-label>
                <input matInput type="text" placeholder="Modelo" [disabled]="this._data.bDsiable"  [(ngModel)]="this._data._articul.Model" >               
               </mat-form-field>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td >
            <mat-form-field appearance="outline">
              <mat-label>Marca</mat-label>
              <input matInput type="text" placeholder="Marca" [disabled]="this._data.bDsiable"  [(ngModel)]="this._data._articul.Brand" >               
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td >
            <mat-form-field appearance="outline">
              <mat-label>Descripcion</mat-label>
              <textarea  matInput type="text" style="resize: none;"  placeholder="Descripcion" [disabled]="this._data.bDsiable"  [(ngModel)]="this._data._articul.Description" > </textarea>              
            </mat-form-field>
           </td> 
           <td></td>
        </tr>  
            
        <tr>
           <td></td>               
        </tr>
    </tbody>  
  </table>
</div>
<ng-template #next1>
  <div  style="width: 700px; height: 500px">       
      <table class="table pd-b-5">
        <thead>
            <th style="text-align: center"  *ngFor="let c of this._columns">
                {{c.header}}
            </th>
          </thead>
            <tbody style="width: 100%" >
                <tr *ngFor="let r of this._rowData" style="width: 100%" >
                    <td  style="text-align: center" >{{r.Code}}</td>
                    <td style="text-align: center">{{r.Name}}</td>
                    <td style="text-align: center">{{r.Model}}</td>
                    <td style="text-align: center">{{r.Brand}}</td>
                    <td style="text-align: center"><button class="TransparentButton" (click)="delete(r.Code)" > - </button > {{r.Unity}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
                   
                   
            </tr>
            </tbody>           
      </table>    
  </div>

</ng-template>
   
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div *ngIf="this._data._screen == 'articulo'; else buttonNext1">
    <button   mat-button color="primary" [style.visibility]="!this._bDsiable? 'visible': 'hidden'" (click)="close()">Cancel</button>
    <button   mat-flat-button color="primary" [style.visibility]="this._bDsiable? 'visible': 'hidden'" (click)="close()">Ok</button>
    <button   mat-flat-button color="primary" [style.visibility]="!this._bDsiable? 'visible': 'hidden'" (click)="save()">Save</button> 
  </div>
  <ng-template #buttonNext1>
     <div>
        <button   mat-button color="primary"  (click)="close()">Cancel</button>
        
        <button   mat-flat-button color="primary"  (click)="saveDispatched()">Save</button> 
     </div>
</ng-template>
</mat-dialog-actions>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->