<table style=" width: 100%; align-content: center;" >
    <tr>
        <td class="tdSmall">
          <mat-form-field appearance="outline">
              <mat-label>Fecha desde</mat-label>
              <input matInput type="date" placeholder="Fecha desde"[(ngModel)]="this._fechaDesde" >               
          </mat-form-field>
        </td>
        <td class="tdSmall">
          <mat-form-field appearance="outline">
            <mat-label>Fecha hasta</mat-label>
            <input matInput type="date" placeholder="Fecha hasta"[(ngModel)]="this._fechaHasta">               
          </mat-form-field>
        </td>
        <td style="text-align: center"> <button mat-raised-button color="primary" (click)="searchMovimientosRows()" >Search</button></td>
    </tr>
    <tr>
         <td class="tdSmall">
            <mat-form-field appearance="outline">
                <mat-label>Sucursal</mat-label>
                <input matInput type="text" placeholder="Sucursal"[(ngModel)]="this._sucursal"> 
            </mat-form-field>
        </td>
        <td class="tdSmall" >
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" placeholder="Usuario"[(ngModel)]="this._usuario">  
            </mat-form-field>
        </td>
       
        <td >
            <mat-form-field appearance="outline">
                <mat-label>Id Transacción</mat-label>
                <input matInput type="text" placeholder="Id Transacción"[(ngModel)]="this._usuario">  
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
        
        </td>
    </tr>
</table>
<table class="table pd-b-5" [style.visibility]="this._visible? 'visible': 'hidden'" >
    <thead>
        <tr >
            <th *ngFor="let column of this._columnsAnul">
                {{column.header}}
            </th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of this._rowDataAnul">
          <td>{{r.ID}}</td>
          <td>{{r.date}}</td>
          <td>{{r.user}}</td>
          <td>{{r.total}}</td>
          <td>{{r.remito}}</td>
          <td>{{r.state}}</td>
          <td><button mat-raised-button color="warn" (click)="cancelRemito(r.ID)" >Anular</button></td>
      </tr>
       
    </tbody>
</table>
