<mat-accordion displayMode="" hideToggle="true" >
    <mat-expansion-panel >
      <mat-expansion-panel-header class="mat-row" style="background-color: royalblue">
        <span class="mat-cell" style="color: seashell">{{user.first_name +" "+user.last_name}}</span>
      </mat-expansion-panel-header>
      
        
        
           <table style="width: 100%;">
               <tr>
                 <td class="bold">UserName: </td><td>{{user.userName}}</td> <td class="bold">Password: </td> <td>{{user.password}}</td>
                 <td rowspan="3"> 
                  <img width="50%" height="150px" [src]="this._image" (click)="OnFileSelected($event)" >
                  <!--<button mat-stroked-button style="width: 100%; height: 300px" (click)="OnFileSelected($event)" [disabled]="this._data.bDsiable">Image</button>-->
                  <input  type="file" #file (change)="OnFileSelected($event)" style="visibility: hidden" />
                  </td>

               </tr>
               <tr>
                <td class="bold">Nombre: </td><td>{{user.first_name}}</td> <td class="bold">Apellido: </td> <td>{{user.last_name}}</td>

              </tr>
              <tr>
                <td class="bold">FechaNacimiento: </td><td>{{user.dateborn}}</td> <td class="bold">FechaIngreso: </td> <td>{{user.dateAdmission}}</td>

              </tr>
              <tr>
                <td class="bold">Email: </td><td>{{user.email}}</td> <td class="bold">Direccion: </td> <td>{{user.address}}</td>  <td class="bold">CodPostal: </td> <td>{{user.codPostal}}</td>

              </tr>
             <tr>
               <td>
                <button type="button" (click)="VerPerfil(user)" mat-stroked-button>Editar</button>
               </td>
               <td>
                <button mat-raised-button color="warn">Borrar</button>     
              </td>
             </tr>
           </table>
          
              
        
            
      
    
    </mat-expansion-panel>
  </mat-accordion>