<mat-accordion displayMode="" hideToggle="true" >
    <mat-expansion-panel >
      <mat-expansion-panel-header class="mat-row" style="background-color: royalblue">
        <span class="mat-cell" style="color: seashell">{{Usuario.Titulo}}</span>
      </mat-expansion-panel-header>
      
        
         <div *ngFor="let datos of Usuario.Datos">
           <table *ngFor="let p of _param">
                <tr>
                  <td style="font-weight: bold;" >
                    {{p.param}}:                   
                  </td>
                  <td>
                    {{datos[p.param]}}
                  </td>
                </tr>
                  <br>
                  <tr>
                     
                  </tr>

           </table> 
           <table>
             <tr>
               <td>
                <button type="button" (click)="VerPerfil(Usuario)" mat-stroked-button>Editar</button>
               </td>
               <td>
                <button mat-raised-button color="warn">Borrar</button>     
              </td>
             </tr>
           </table>
          
              
         </div>
            
      
    
    </mat-expansion-panel>
  </mat-accordion>