<mat-accordion displayMode="" hideToggle="true" >
    <mat-expansion-panel >
      <mat-expansion-panel-header class="mat-row" style="background-color: royalblue">
        <span class="mat-cell" style="color: seashell">{{Usuario.Titulo}}</span>
      </mat-expansion-panel-header>
      
        
         <div *ngFor="let datos of Usuario.Datos">
           <table>
             <tr>
               <td><a class="bold">Nombre: </a></td>
               <td><a> {{datos.Nombre}}: </a></td>
             </tr>
             <tr>
                <td><a class="bold">Apellido: </a></td>
                <td><a> {{datos.Apellido}}: </a></td>
              </tr>
              <tr>
                  <td><a class="bold">Edad: </a></td>
                  <td><a> {{datos.Edad}}: </a></td>
                </tr>
                <tr>
                    <td><a class="bold">FechaIngreso: </a></td>
                    <td><a>{{datos.FechaIngreso}}: </a></td>
                  </tr>
                  <br>
                  <tr>
                      <td><button type="button" (click)="VerPerfil(Usuario)" mat-stroked-button>Editar</button></td>
                      <td><button mat-raised-button color="warn">Borrar</button></td>
                    </tr>

           </table>          
         </div>
            
      
    
    </mat-expansion-panel>
  </mat-accordion>