<form [formGroup]="formControl">
  <div [ngSwitch]="this.type">
    <div *ngSwitchCase="'date'">
      <mat-form-field>
        <input matInput  [matDatepicker]="picker1" placeholder="{{this.placeHolder}}" [(value)]="this.inputValue" (ngModelChange)="updateValue()" formControlName="input">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngSwitchDefault>
      <mat-form-field class="example-full-width">
        <mat-label>{{this.placeHolder}}</mat-label>
        <input matInput type="{{this.type}}" #input formControlName="input" (keyup)="updateValue()" [(value)]="this.inputValue" [errorStateMatcher]="matcher">    
        <mat-error>
          {{this.placeHolder}} es un campo <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>