
    <table style=" width: 100%; align-content: center;">
    <tr>
        <td  class="tdSmall">
                <mat-form-field appearance="outline">
                        <mat-label>Codigo despacho</mat-label>
                        <input matInput type="text" [(ngModel)]="this._despacho"   placeholder="Codigo despacho" maxlength="10" [disabled]="this._disableButton"   >               
                    </mat-form-field>
        </td>       
       
        <td style="text-align: left; padding-right: 3%" ><button mat-raised-button (click)="searchDespatched()" color="primary">Search</button></td>
        <td  class="tdSmall"></td>
    </tr>
    <tr>
        <td>
          <mat-form-field appearance="outline" [style.visibility]="this._disableButton? 'visible': 'hidden'">
           <mat-label>Codigo Articulo</mat-label>
           <input matInput type="text"   [(ngModel)]="this._searchCode" (ngModelChange)="cargarCodigo()"  [maxLength]="10" placeholder="codigo articulo">               
         </mat-form-field>
        </td>
    </tr>
    <tr>
            <td></td>
            <td></td>
            <td style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="createCancelDispatched()" color="success">{{this._titleButtonCreate}}</button></td>
          </tr>
</table>
<br>
<br>
<table class="table pd-b-5" >
   <thead>
        <th  *ngFor="let c of this._columns">
            {{c.header}}
        </th>
        <th *ngIf="!this._disableButton; else column">
               Ver
         </th>
              
        <ng-template #column>
               <th>Validado</th>
         </ng-template>
        
   </thead>
   <tbody *ngIf="!this._disableButton; else body">      
    <tr *ngFor="let r of this._rowData">
            <td>{{r.ID}}</td>
            <td >{{r.datecreate}}</td>
            <td >{{r.user}}</td>
            <td class="textCenter"  >{{r.origin}}</td>
            <td class="textCenter" >{{r.destiny}}</td>
            <td class="textCenter" >{{r.state}}</td>
            <td class="textCenter" >{{r.datedespatched}}</td>
            <td class="textCenter"  >{{r.daterecived}}</td>
            <td class="textCenter"  >{{r.items}}</td>
            <td class="textCenter"><button mat-raised-button (click)="assignDispatched(r.ID)" color="primary">Ver</button></td>  
    </tr>
   </tbody>
   <ng-template #body>
        <tbody>
                <tr *ngFor="let r of this._rowData">
                        <td>{{r.Code}}</td>
                        <td>{{r.Name}}</td>
                        <td>{{r.Model}}</td>
                        <td>{{r.Brand}}</td>
                        <td><button class="TransparentButton" (click)="delete(r.Code)" > -   </button>{{r.Unity}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
                </tr>
        </tbody>
  </ng-template> 
   <tbody [style.visibility]="this._disableButton? 'visible' : 'hidden'">
        
   <!-- <tr *ngFor="let r of this._rowData">
        <td>{{r.Code}}</td>
        <td>{{r.Name}}</td>
        <td>{{r.Model}}</td>
        <td>{{r.Brand}}</td>
        <td><button class="TransparentButton" (click)="delete(r.Code)" > -   </button>{{r.Unity}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
    </tr>-->
   </tbody>
</table>
