
    <table style=" width: 100%; align-content: center;">
    <tr>
        <td  class="tdSmall">
                <mat-form-field appearance="outline">
                        <mat-label>Codigo despacho</mat-label>
                        <input matInput type="text" [(ngModel)]="this._despacho" (ngModelChange)="cargarDespacho()"   placeholder="Codigo despacho" maxlength="10" [disabled]="this._disableButton"   >               
                    </mat-form-field>
        </td>       
       
        <td style="text-align: left; padding-right: 3%" ><button mat-raised-button (click)="searchDespatched()" color="primary">Search</button></td>
        <td [style.visibility]="this._type == 'dispatchedSelected'? 'visible': 'hidden'"style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="openDialog()" color="warn">Ayuda</button></td>
    </tr>
    <tr>
        <td>
          <mat-form-field appearance="outline" [style.visibility]="this._disableButton? 'visible': 'hidden'">
           <mat-label>Codigo Articulo</mat-label>
           <input matInput type="text"   [(ngModel)]="this._searchCode" (ngModelChange)="cargarCodigo()"  [maxLength]="10" placeholder="codigo articulo">               
         </mat-form-field>
        </td>
    </tr>
    <tr>
            <td></td>
            <td ></td>
            <td style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="UpdateDispatch()" color="success">{{this._titleButtonCreate}}</button></td>
          </tr>
</table>
<br>
<br>
{{this._type}}
<div [ngSwitch]="this._type">
        <div *ngSwitchCase="'dispatched'">
                <table class="table pd-b-5" >
                        <thead>
                         <th  *ngFor="let c of this._columns">
                              {{c.header}}
                          </th>
                           <th>
                              Ver
                           </th>  
                        </thead>
                        <tbody >      
                                <tr *ngFor="let r of this._rowData">
                                        <td>{{r.code}}</td>
                                        <td >{{r.dateCreate}}</td>
                                        <td >{{r.usuario.userName}}</td>
                                        <td class="textCenter"  >{{r.sucOrigin.address}}</td>
                                        <td class="textCenter" >{{r.sucDestiny.address}}</td>
                                        <td class="textCenter" >{{r.state.description}}</td>
                                        <td class="textCenter" >{{r.dateDispatched}}</td>
                                        <td class="textCenter"  >{{r.dateRecived}}</td>
                                        <td class="textCenter"  >{{r.unity}}</td>
                                        <td style="text-align: left"><button mat-raised-button (click)="assignDispatched(r.code)" color="primary">Ver</button></td>  
                                </tr>
                        </tbody>
                </table>
         </div>
         <div *ngSwitchCase="'dispatchedSelected'">
                <table class="table pd-b-5">
                        <thead>
                            <th  *ngFor="let c of this._columns">
                                                     {{c.header}}
                           </th>                  
                             <th>Cantidad</th>
                             <th>Validado</th>
                           </thead> 
                           <tbody >      
                              <tr *ngFor="let r of this._rowData">
                                 <td>{{r.code}}</td>
                                 <td>{{r.Name}}</td>
                                  <td>{{r.Model}}</td>
                                  <td>{{r.Brand}}</td>
                                  <td>{{r.Unity}}</td>
                                  <td><button class="TransparentButton" (click)="delete(r.Code)" > - </button > {{r.Count}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
                                  <td><img  [style.width]="r.Count == r.Unity ? '40%' : '40%'"[style.heigth]="r.Count == r.Unity ? '20%' : '20%'"  [src]="r.Count == r.Unity ? this._OkImage : this._NotOkImage"></td>                      
                                                        
                                </tr>
                           </tbody>   
                    </table>     
         </div>
         <div *ngSwitchCase="'createDispatched'">
                <table class="table pd-b-5" >
                        <thead>
                           <th  *ngFor="let c of this._columns">
                               {{c.header}}
                           </th>                  
                            <th>Cantidad</th> 
                            <th></th>                         
                         </thead> 
                         <tbody >      
                            <tr *ngFor="let r of this._rowData; let i = index">
                                 <td>{{r.Code}}</td>
                                 <td>{{r.Name}}</td>
                                 <td>{{r.Model}}</td>
                                 <td>{{r.Brand}}</td>
                                 <td>{{r.Unity}}</td>
                                 <td><button class="TransparentButton" (click)="delete(r.Code)" > - </button > {{r.Count}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
                                 <td > <img  style="width: 40px;height: 40px;" (click)="remove(r.Code,i)"  src="../../../../assets/notok_check.png"></td>
                             </tr>
                         </tbody>   
                 </table>
         </div>
         <div *ngSwitchCase="'newDispatched'">
                <table class="table pd-b-5">
                        <thead>
                            <th  *ngFor="let c of this._columns">
                                                     {{c.header}}
                           </th>                  
                             <th>Cantidad</th>                           
                           </thead> 
                           <tbody >      
                              <tr *ngFor="let r of this._rowData">
                                 <td>{{r.code}}</td>
                                 <td>{{r.Name}}</td>
                                  <td>{{r.Model}}</td>
                                  <td>{{r.Brand}}</td>
                                  <td>{{r.Unity}}</td>
                                  <td><button class="TransparentButton" (click)="delete(r.Code)" > - </button > {{r.Count}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
                                 
                                                        
                                </tr>
                           </tbody>   
                    </table>     
         </div>

</div>

<table style="width: 100%">
   <tr>
           <td style="width: 30%"></td>
           <td style="width: 30%"></td>
      <td [style.visibility]="this._disableButton? 'visible': 'hidden'"style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="finish()" color="warn">Finalizar</button></td>
  </tr>
</table>
