
    <table style=" width: 100%; align-content: center;">
    <tr>
        <td  class="tdSmall">
                <mat-form-field appearance="outline">
                        <mat-label>Codigo despacho</mat-label>
                        <input matInput type="text" [(ngModel)]="this._despacho" (ngModelChange)="cargarDespacho()"   placeholder="Codigo despacho" maxlength="10" [disabled]="this._disableButton"   >               
                    </mat-form-field>
        </td>       
       
        <td [style.visibility]="this._type == 'dispatched'? 'visible': 'hidden'" style="text-align: left; padding-right: 3%" ><button mat-raised-button (click)="searchDespatched()" color="primary">Search</button></td>
        <td [style.visibility]="!this._codeFlag && (this._type == 'newDispatched' || this._type == 'dispatchedSelected')? 'visible': 'hidden'"style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="openDialog()" color="warn">Ayuda</button></td>
    </tr>
    <tr>
        <td>
          <mat-form-field appearance="outline" [style.visibility]="this._disableButton? 'visible': 'hidden'">
           <mat-label>Codigo Articulo</mat-label>
           <input matInput type="text"  [(ngModel)]="this._searchCode" (ngModelChange)="cargarCodigo()"  [maxLength]="10" [disabled]="this._codeFlag"  placeholder="codigo articulo">               
         </mat-form-field>
        </td>
    </tr>
    <tr>
            <td></td>
            <td ></td>
            <td style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="UpdateDispatch()" color="success">{{this._titleButtonCreate}}</button></td>
          </tr>
</table>
<br>
<br>
{{this._type}}
<div [ngSwitch]="this._type">
        <div *ngSwitchCase="'dispatched'">
                <table class="table pd-b-5" >
                        <thead>
                         <th  *ngFor="let c of this._columns">
                              {{c.header}}
                          </th>
                           <th>
                              Ver
                           </th>  
                        </thead>
                        <tbody >      
                                <tr *ngFor="let r of this._rowData">
                                        <td>{{r.code}}</td>
                                        <td >{{r.dateCreate}}</td>
                                        <td >{{r.usuarioOrigin.userName}}</td>
                                        <p *ngIf="r.usuarioDestiny; else nothing"><td >{{r.usuarioDestiny.userName}}</td></p>
                                        <ng-template #nothing>
                                                <p>
                                                 
                                                </p>
                                              </ng-template>
                                        <td class="textCenter"  >{{r.sucOrigin.address}}</td>
                                        <td class="textCenter" >{{r.sucDestiny.address}}</td>
                                        <td class="textCenter" >{{r.state.description}}</td>
                                        <td class="textCenter" >{{r.dateDispatched}}</td>
                                        <td class="textCenter"  >{{r.dateRecived}}</td>
                                        <td class="textCenter"  >{{r.unity}}</td>
                                        <td style="text-align: left"><button mat-raised-button (click)="assignDispatched(r.code)" color="primary">{{r.stateText}}</button></td>  
                                </tr>
                        </tbody>
                </table>
         </div>
         <div *ngSwitchCase="'dispatchedSelected'">
                <table style="width: 100%;" class="table pd-b-5">
                        <thead>
                            <th style="width: 15%; text-align: center;"  *ngFor="let c of this._columns">
                                                     {{c.header}}
                           </th>                  
                             <th style="width: 15%; text-align: center;" colspan="3">Cantidad</th>
                             <th style="width: 15%; text-align: center;" >Validado</th>
                           </thead> 
                           <tbody >      
                              <tr *ngFor="let r of this._rowData">
                                 <td style="width: 15%; text-align: center;">{{r.code}}</td>
                                 <td style="width: 15%; text-align: center;">{{r.Name}}</td>
                                  <td style="width: 15%; text-align: center;">{{r.Model}}</td>
                                  <td style="width: 15%; text-align: center;">{{r.Brand}}</td>
                                  <td style="width: 15%; text-align: center;">{{r.Unity}}</td>
                                  <td ><button mat-mini-fab  [disabled]="this._codeFlag && (this._type == 'newDispatched' || this._type == 'dispatchedSelected')? true: false" (click)="delete(r.code)"  ></button ></td> <td>{{r.UnityRead}}</td><td><button  mat-mini-fab [disabled]="this._codeFlag && (this._type == 'newDispatched' || this._type == 'dispatchedSelected')? true: false" (click)="Add(r.code)" ></button ></td>
                                  <td style="width: 15%; text-align: center;"><img  [style.width]="r.Count == r.Unity ? '25%' : '25%'" [src]="r.Count == r.Unity || r.UnityRead == r.Unity ? this._OkImage : this._NotOkImage"></td>                      
                                                        
                                </tr>
                           </tbody>   
                    </table>     
         </div>
         <div *ngSwitchCase="'createDispatched'">
                <table class="table pd-b-5" >
                        <thead>
                           <th  *ngFor="let c of this._columns">
                               {{c.header}}
                           </th>                  
                            <th colspan="3" >Cantidad</th> 
                            <th></th>                         
                         </thead> 
                         <tbody >      
                            <tr *ngFor="let r of this._rowData; let i = index">
                                 <td>{{r.Code}}</td>
                                 <td>{{r.Name}}</td>
                                 <td>{{r.Model}}</td>
                                 <td>{{r.Brand}}</td>
                                 <td>{{r.Unity}}</td>
                                 <td ><button mat-mini-fab  [disabled]="this._dispatch.idState == 1?true:false" (click)="delete(r.Code)"  ></button ></td> <td>{{r.Count}}</td><td><button  mat-mini-fab [disabled]="this._dispatch.idState == 1?true:false" (click)="Add(r.Code)" ></button ></td>
                                 <td > <img  style="width: 40px;height: 40px;" (click)="remove(r.Code,i)"  src="../../../../assets/notok_check.png"></td>
                             </tr>
                         </tbody>   
                 </table>
         </div>
         <div *ngSwitchCase="'newDispatched'">
                <table style="width: 90%;" class="table pd-b-2">
                        <thead>
                            <th style="width: 15%; text-align: center;" *ngFor="let c of this._columns">
                                                      {{c.header}}
                           </th>                  
                             <th  colspan="3" >Cantidad</th>                           
                           </thead> 
                           <tbody >      
                              <tr *ngFor="let r of this._rowData">
                                 <td style="width: 15%; text-align: center;" >{{r.code}}</td>
                                 <td style="width: 15%; text-align: center;" >{{r.Name}}</td>
                                  <td style="width: 15%; text-align: center;" >{{r.Model}}</td>
                                  <td style="width: 15%; text-align: center;" >{{r.Brand}}</td>
                                  <td style="width: 15%; text-align: center;" >{{r.Unity}}</td>
                                  <td  style="text-align: center;  width: 3%;"  ><button mat-mini-fab  [disabled]="this._dispatch.idState == 1?false:true" (click)="delete(r.code)"  ></button ></td> <td  style="text-align: center; width: 1%;" >{{r.Count}}</td><td  style="text-align: center;" ><button  mat-mini-fab [disabled]="this._dispatch.idState == 1?false:true" (click)="Add(r.code)" ></button ></td>
                                 
                                                        
                                </tr>
                           </tbody>   
                    </table>     
         </div>

</div>

<table style="width: 100%">
   <tr>
           <td style="width: 30%"></td>
           <td style="width: 30%"></td>
      <td [style.visibility]="!this._codeFlag && (this._type == 'newDispatched' || this._type == 'dispatchedSelected')? 'visible': 'hidden'"style="text-align: right; padding-right: 3%" ><button mat-raised-button (click)="finish()" color="warn">Finalizar</button></td>
  </tr>
</table>
