<h1>Ingreso</h1>
<table style=" width: 90%;"  >       
    <br>
     <tr >
         <td >
            <mat-form-field appearance="outline">
                <mat-label>Codigo Articulo</mat-label>
                <input matInput type="text" [(ngModel)]="this._searchCodeIngreso" (ngModelChange)="cargarCodigo(this._searchCodeIngreso, this._rowDataIngreso,'I')"  [maxLength]="10" placeholder="codigo articulo">               
               
              </mat-form-field>
        </td>
        <td></td>
        <td style="text-align: center"> <button mat-raised-button color="primary" (click)="openDialog()" >Finalizar</button></td>
       
    </tr>   
   
   
</table>
<table class="table pd-b-5" >
    <thead>
        <tr >
            <th *ngFor="let column of this._columns">
                {{column.header}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of this._rowDataIngreso">
            <td >{{r.Code}}</td>
            <td>{{r.Name}}</td>
            <td >{{r.Brand}}</td>
            <td >{{r.Model}}</td>
            <td >{{r.Price}}</td>
            <td><button class="TransparentButton" (click)="delete(r.Code,this._rowDataIngreso,'I')" > -   </button>{{r.Unity}}<button class="TransparentButton" (click)="Add('I',r.Code,this._rowDataIngreso)" >   + </button ></td>
            <td>{{r.SubTotal}}</td>
            <td > <button mat-button style="text-align: center; padding-bottom: 1%" (click)="remove(r.Code,this._rowDataIngreso,'I')" >x</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bold" >Total:</td>
            <td class="bold" style="color:red">{{this._totalIngreso}}</td>
        </tr>
    </tbody>
</table>
<h1>Egreso</h1>
<table style=" width: 90%;"  >       
    <br>
     <tr >
         <td >
            <mat-form-field appearance="outline">
                <mat-label>Codigo Articulo</mat-label>
                <input matInput type="text" [(ngModel)]="this._searchCodeEgreso" (ngModelChange)="cargarCodigo(this._searchCodeEgreso,this._rowDataEgreso,'E')"  [maxLength]="10" placeholder="codigo articulo">               
               
              </mat-form-field>
        </td>
        <td></td>
   
</table>
<table class="table pd-b-5" >
    <thead>
        <tr >
            <th *ngFor="let column of this._columns">
                {{column.header}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of this._rowDataEgreso">
            <td >{{r.Code}}</td>
            <td>{{r.Name}}</td>
            <td >{{r.Brand}}</td>
            <td >{{r.Model}}</td>
            <td >{{r.Price}}</td>
            <td><button class="TransparentButton" (click)="delete(r.Code,this._rowDataEgreso,'E')" > -   </button>{{r.Unity}}<button class="TransparentButton" (click)="Add('E',r.Code,this._rowDataEgreso)" >   + </button ></td>
            <td>{{r.SubTotal}}</td>
            <td > <button mat-button style="text-align: center; padding-bottom: 1%" (click)="remove(r.Code,this._rowDataEgreso,'E')" >x</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bold" >Total:</td>
            <td class="bold" style="color:green">{{this._totalEgreso}}</td>
        </tr>
    </tbody>
</table>
<div id="content" #content style="visibility: hidden">
<table class="table pd-b-5" >
    <thead>
        <tr >
            <th *ngFor="let column of this._columns">
                {{column.headerName}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of this._rowDataEgreso">
            <td >{{r.Code}}</td>
            <td>{{r.Name}}</td>
            <td >{{r.Brand}}</td>
            <td >{{r.Price}}</td>
            <td><button class="TransparentButton" (click)="delete(r.Code,this._rowDataEgreso,'E')" > -   </button>{{r.Unity}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
            <td>{{r.SubTotal}}</td>
            <td > <button mat-button style="text-align: center; padding-bottom: 1%" (click)="remove(r.Code,this._rowDataEgreso,'E')" >x</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bold" >Total:</td>
            <td class="bold">{{this._totalEgreso}}</td>
        </tr>
    </tbody>
</table>
</div>
