

    <table style=" width: 100%;">       
       <br>
        <tr >
            <td style="width: 20%;"></td>
            
            <td  style="width: 60%;" >
               
                    <input style="width: 80%; " class="form-control form-control-sm " type="text" placeholder="Search" aria-label="Search" mdbInput>
             
            </td>
            <td style="width: 20%;"></td>
        </tr>        
    </table>
    <br>
    <ul >
        <li>
            <a></a>
            <app-paneluser ></app-paneluser>
        </li>        
    </ul>
   

       
    
                
        
