
<form style="width: 100%;">
    <table style=" width: 100%;">
       
        <tr >
            <td style="width: 20%;"></td>
            
            <td  style="width: 60%;" >
               
                    <input style="width: 80%; align-items: center; vertical-align: middle; align-content: center;" class="form-control form-control-sm " type="text" placeholder="Search" aria-label="Search" mdbInput>
             
            </td>
            <td style="width: 20%;"></td>
        </tr>
    </table>
</form>  