<form novalidate [formGroup]="formControl">
  <div class="center" style="width: 100%; height: 100%;">
    <div *ngIf="validateSpinner(); else loading">
    <table style="width: 100%;background-color: white">
        <tr>
         <!-- <td class="bold">UserName: {{this._user.userName}}</td>-->
          <td><app-inputrequired [param]="'userName'" [placeHolder]="'UserName'" [type]="'text'"  (_parent)="updateUsuario($event)" (change)="updateUsuario($event)" [(inputValue)]="this.user.userName"></app-inputrequired></td>
          <!-- <td class="bold">Password: </td>-->
          <td><app-inputrequired [param]="'password'" [placeHolder]="'Password'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.password"></app-inputrequired></td>
          <td rowspan="3"> 
           <img width="25%" height="150px" [src]="this._image" (click)="OnFileSelected($event)" >
           <!--<button mat-stroked-button style="width: 100%; height: 300px" (click)="OnFileSelected($event)" [disabled]="this._data.bDsiable">Image</button>-->
           <input  type="file" #file (change)="OnFileSelected($event)" style="visibility: hidden" />
           </td>
        </tr>
        <tr>
          <td>
            <mat-form-field  appearance="fill">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">                       
                <mat-option *ngFor="let r of this._roles" [value]="r" >
                  {{r.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControl.get('role').hasError('required')">Please choose a role</mat-error>
            
            </mat-form-field>
          </td>
          <td>
            <mat-form-field  appearance="fill">
              <mat-label>Sucursal</mat-label>
              <mat-select formControlName="sucursal" required>                       
                <mat-option *ngFor="let r of this._sucursal" [value]="r" >
                  {{r.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControl.get('sucursal').hasError('required')">Please choose a rule</mat-error>
            
            </mat-form-field>
          </td>
        </tr>
        <tr>
         <!-- <td class="bold">Nombre: </td>-->
         <td><app-inputrequired [param]="'first_name'" [placeHolder]="'Nombre'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.first_name"></app-inputrequired></td>
          <!-- <td class="bold">Apellido: </td>-->
          <td><app-inputrequired [param]="'last_name'" [placeHolder]="'Apellido'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.last_name"></app-inputrequired></td>
       </tr>
       <tr>
        <!--  <td class="bold">FechaNacimiento: </td>-->
         <td><app-inputrequired [param]="'dateborn'" [placeHolder]="'FechaNacimiento'" [type]="'date'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.dateborn"></app-inputrequired></td>
          <!-- <td class="bold">FechaIngreso: </td>-->
         <td><app-inputrequired [param]="'dateAdmission'" [placeHolder]="'FechaIngreso'" [type]="'date'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.dateAdmission"></app-inputrequired></td>
       </tr>
       <tr>
         <!--  <td class="bold">Email: </td>-->
         <td><app-inputrequired [param]="'Email'" [placeHolder]="'Email'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.email"></app-inputrequired></td>
         <!--  <td class="bold">Direccion: </td>-->
         <td><app-inputrequired [param]="'address'" [placeHolder]="'Direccion'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.address"></app-inputrequired></td>
          <!-- <td class="bold">CodPostal: </td>-->
         <td><app-inputrequired [param]="'codPostal'" [placeHolder]="'CodPostal'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.codPostal"></app-inputrequired></td>

       </tr>
     
       <tr>
           <td colspan="3" style="width: 80%; text-align: center">
            <button mat-raised-button color color="success" (click)="saveUsuario()">Guardar</button>
           </td>
       </tr>      
   </table>
  </div>
  <ng-template #loading>
    <mat-spinner class='center'></mat-spinner>
  </ng-template>
  </div>
</form>

