
  <div class="center" style="width: 100%; height: 100%;">
    <div *ngIf="this.user != undefined && this._rules != undefined; else loading">
    <table style="width: 100%;background-color: white">
        <tr>
         <!-- <td class="bold">UserName: {{this._user.userName}}</td>-->
          <td><app-inputrequired [param]="'UserName'" [type]="'text'"  (_parent)="updateUsuario($event)" (change)="updateUsuario($event)" [(inputValue)]="this.user.userName"></app-inputrequired></td>
          <!-- <td class="bold">Password: </td>-->
          <td><app-inputrequired [param]="'Password'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.password"></app-inputrequired></td>
          <td rowspan="3"> 
           <img width="25%" height="150px" [src]="this._image" (click)="OnFileSelected($event)" >
           <!--<button mat-stroked-button style="width: 100%; height: 300px" (click)="OnFileSelected($event)" [disabled]="this._data.bDsiable">Image</button>-->
           <input  type="file" #file (change)="OnFileSelected($event)" style="visibility: hidden" />
           </td>
        </tr>
        <tr>
          <td>
            <mat-form-field  appearance="fill">
              <mat-label>Categoria</mat-label>
              <mat-select [formControl]="selectFormControl" [(ngModel)]="this._selectedItem.description"   required (selectionChange)="changeCategoria($event.value)">                       
                <mat-option *ngFor="let r of this._rules" [value]="r.description" >
                  {{r.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="selectFormControl.hasError('required')">Please choose a rule</mat-error>
            
            </mat-form-field>
          </td>
        </tr>
        <tr>
         <!-- <td class="bold">Nombre: </td>-->
         <td><app-inputrequired [param]="'Nombre'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.first_name"></app-inputrequired></td>
          <!-- <td class="bold">Apellido: </td>-->
          <td><app-inputrequired [param]="'Apellido'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.last_name"></app-inputrequired></td>
       </tr>
       <tr>
        <!--  <td class="bold">FechaNacimiento: </td>-->
         <td><app-inputrequired [param]="'FechaNacimiento'" [type]="'date'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.dateborn"></app-inputrequired></td>
          <!-- <td class="bold">FechaIngreso: </td>-->
         <td><app-inputrequired [param]="'FechaIngreso'" [type]="'date'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.dateAdmission"></app-inputrequired></td>
       </tr>
       <tr>
         <!--  <td class="bold">Email: </td>-->
         <td><app-inputrequired [param]="'Email'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.email"></app-inputrequired></td>
         <!--  <td class="bold">Direccion: </td>-->
         <td><app-inputrequired [param]="'Direccion'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.address"></app-inputrequired></td>
          <!-- <td class="bold">CodPostal: </td>-->
         <td><app-inputrequired [param]="'CodPostal'" [type]="'text'"  (_parent)="updateUsuario($event)" [(inputValue)]="this.user.codPostal"></app-inputrequired></td>

       </tr>
     
       <tr>
           <td colspan="3" style="width: 80%; text-align: center">
            <button mat-raised-button color color="success" (click)="saveUsuario()">Guardar</button>
           </td>
       </tr>      
   </table>
  </div>
  <ng-template #loading>
    <mat-spinner class='center'></mat-spinner>
  </ng-template>
  </div>

