<mat-toolbar  color="primary"  *ngIf="isLogged$ | async as isLoggedIn">
  <span  *ngIf="isHandset$ | async">Menu</span>
  <div fxFlex="100%" fxLayoutAlign="space-between">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button   
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button> 
  <div fxFlex="100">    
    
  </div>
     
    <button mat-button  fxLayout="row"  fxLayoutAlign="end end" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
  
  </div>
 
  

</mat-toolbar>

<mat-sidenav-container class="sidenav-container" color="primary" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      *ngIf="isLogged$ | async as isLoggedIn"
     >
     <mat-toolbar color="primary">Menu</mat-toolbar>
   <mat-accordion displayMode=""  >
    <mat-expansion-panel flFlex="100" *ngFor="let item of this.screens">
      <mat-expansion-panel-header class="specific-class">
        <mat-panel-title class="mat-cell white"><strong>{{item.title}}</strong></mat-panel-title>
      </mat-expansion-panel-header>
      
      <mat-nav-list *ngFor="let i of item.children">   

            <a fxFlex="100" class="white"  [routerLink]="i?.url">{{i?.title}}</a>
           
         
        </mat-nav-list>
    
    </mat-expansion-panel>
  </mat-accordion>




  </mat-sidenav>
  <mat-sidenav-content>
    
  <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>



