<div [formGroup]="userForm">
        <h2 mat-dialog-title>{{this._data.title}}</h2>
        <div class="mat-typography">
             <table>
                 <tr [hidden]="!this._data.admConfirm">
                    <td>
                       <mat-form-field appearance="outline">
                         <mat-label>Usuario</mat-label>
                         <input matInput type="text" placeholder="Usuario" formControlName="usuario" >               
                       </mat-form-field>
                    </td>   
                 </tr>
                 <tr [hidden]="!this._data.admConfirm">
                   <td>
                     <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                       <input matInput type="password" placeholder="Password" formControlName="password" >               
                     </mat-form-field>
                    </td>   
                  </tr>
             </table>
            </div>
        <div align="end">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-raised-button color="primary"(click)="validateAdminUser()">Confirm</button>
        </div>