.modal{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  
  h1 { font-family: Lato; }  
  
  .backdrop{
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    opacity:1;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  
  .box{
    position: relative;
    background:white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  
  .center{
    align-content: center;
     display: block;
     position: absolute;
    justify-content:  center;
    margin-left: auto;
    margin-right: auto;
  }
  [hidden] {
    display: none !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
/* Font color */
input.mat-input-element {
  color: black;
}
.example-button-row button,
.example-button-row a {
  margin-right: 15px;
}

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}
p {
  font-family: Lato;
}
.TransparentButton {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.bold{
  font-weight: bold;
}
