    <div style="width: 70%">
    <div style="float: left;margin-right:50%px; padding-left: 2%">
            <h2>Productos</h2>
    
        
            <table class="table pd-b-5 " style="width: 50%;">
                <thead>
                    <th>Producto</th>
                    <th>Unidades</th>
                    <th>Subtotal</th>
               </thead>
               <tbody style="text-align: center">
                <tr *ngFor="let r of this._rowsInPut">
                    <td>{{r.Name}}</td>
                    <td>{{r.Unity}}</td>
                    <td>-{{r.SubTotal}}</td>
                   </tr>
                   <tr *ngFor="let r of this._rowsOutPut">
                    <td>{{r.Name}}</td>
                    <td>{{r.Unity}}</td>
                    <td>{{r.SubTotal}}</td>
                   </tr>
               </tbody>
            </table>
        </div>
        <div style="float: right">   
            <table style="width: 100%"  >
                <tr>
                    <td style="width: 50%" >
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let m of this._methods; let i = index" >
                                <mat-radio-button  color="primary" [value]="i" (click)="radioChange(m.Titulo)" >{{m.Titulo}}</mat-radio-button>
                            </mat-list-item>
                        </mat-list>
                    </td>
                    
                    <td style="width: 50%"></td>
                </tr>
                <tr>
                    <td style="width: 50%">
                      <mat-form-field style="text-align: center"  appearance="outline">
                          <mat-label style="text-align: center">Total</mat-label>
                           <input  [ngStyle]="{'color': this._total > -1? 'green' : 'red'}" matInput type="text" value="${{this._total}}"  disabled=true > 
                      </mat-form-field>   
                    </td>
                   
                                         
                         
                    <td style=" width: 50%; padding-left: 5%;" [ngStyle]="{'visibility':this._bCredito ? 'visible' : 'hidden'}" >
                       <select style="width: 80%">
                          <option *ngFor="let c of this._cuotas">
                              {{c.Cuota}} cuotas de ${{((this._total/c.Cuota) | truncate)}}
                          </option>
                        </select>
                    </td>
                   
                </tr>
                
            </table>
        </div>
    </div>