<ng-container>
  <form [formGroup]="searchControl">
    <mat-toolbar class="header" fxLayoutAlign="space-between">
      
        <!--SEARCH BAR-->
        
            <mat-form-field   appearance="outline" floatLabel="always">
                <mat-icon matPrefix class="mr-8">search</mat-icon>
                <input autocomplete="off" matInput formControlName="name" placeholder="{{'USERS.SEARCH' | translate}}" >
            </mat-form-field>  
                     
   
   
      <div fxFlex fxLayoutAlign="end center" >
        <button mat-mini-fab color="primary"  matTooltip="Agregar" matTooltipPosition="above" (click)="Add()" >
          <mat-icon>add</mat-icon>
        </button>
        <div class="paddingButton">
       <button mat-mini-fab color="primary"  matTooltip="Filtros" matTooltipPosition="above" (click)="sidenav.toggle()" >
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
      
    </div>
    
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" class="example-sidenav"
                  position="end"
                >
      <div fxLayout="row wrap" class="p-12 pb-56 filtter">    
  
        <mat-label class="font-weight-400">{{'USERS.USERNAME' | translate}}</mat-label>
        <mat-form-field  appearance="outline" floatLabel="always" class="mx-12" fxFlex="1 1 90%"
            color="accent">
            <input autocomplete="off" matInput formControlName="name"
               >
        </mat-form-field> 
  
        <mat-label class="font-weight-400">{{'USERS.OFFICE' | translate}}</mat-label>
        <mat-form-field appearance="outline" floatLabel="always" class="mx-12" fxFlex="1 1 90%"
            color="accent">
            <mat-select formControlName="office" placeholder="Todos"> 
              <mat-option [value]="''">{{'USERS.ALL' | translate}}</mat-option>                      
              <mat-option *ngFor="let r of officeData" [value]="r.id" >
                {{r.name}}
              </mat-option>
            </mat-select>  
        </mat-form-field> 
  
        <mat-label class="font-weight-400">{{'USERS.ROLE' | translate}}</mat-label>
        <mat-form-field appearance="outline" floatLabel="always" class="mx-12" fxFlex="1 1 90%"
            color="accent">
            <mat-select formControlName="role" placeholder="Todos">      
              <mat-option [value]="''">{{'USERS.ALL' | translate}}</mat-option>                          
              <mat-option *ngFor="let r of rolesData" [value]="r.id" >
                {{'ROLE-LIST.'+r.description | translate}}
               
              </mat-option>
            </mat-select>  
        </mat-form-field> 
        <mat-checkbox formControlName="status" fxLayoutAlign="start center"
        appearance="outline" floatLabel="always"
        class="mb-12" fxFlex="100%" color="primary">{{'USERS.DISABLED' | translate}} </mat-checkbox>
        
        <div fxLayout="row" class="aply-filters-button">
          <button fxFlex="90%" fxLayoutAlign="center center"
          matTooltip="Limpiar filtros" matTooltipPosition="above" mat-raised-button color="primary"
          (click)="clear()">{{'USERS.CLEAN' | translate}}
            </button>
        </div>
      </div>
      
      </mat-sidenav>
  
      <mat-sidenav-content fxLayout="row wrap">
        <mat-accordion hideToggle="true" >
        <ul  *ngFor="let user of usersData">
          
          <li>
              <app-paneluser [user]="user" ></app-paneluser>
          </li> 
           
         
        </ul>
      </mat-accordion>      
       
       
      </mat-sidenav-content>
    </mat-sidenav-container>
  </form>



</ng-container>
