  <div fxLayout="row wrap" fxFlex="100">
    <div fxFlex="60" fxLayout="row" fxLayoutAlign="center center" class="center">
      <mat-form-field fxFlex="1 1" appearance="outline" >
          <mat-icon matPrefix>search</mat-icon>
          <input matInput [formControl]="searchControl" placeholder="Search">
      </mat-form-field>
  </div>
    <ul fxFlex="70" class="mb-8" fxLayout="column"  *ngFor="let user of userSearch">
      <li>
          <app-paneluser [user]="user" ></app-paneluser>
      </li>        
    </ul>
    

</div> 

       
    
                
        
