<table style=" width: 90%;"  >       
    <br>
     <tr >
         <td >
            <mat-form-field appearance="outline">
                <mat-label>Codigo Articulo</mat-label>
                <input matInput type="text" [(ngModel)]="this._searchCode" (ngModelChange)="cargarCodigo()"  [maxLength]="10" placeholder="codigo articulo">               
               
              </mat-form-field>
        </td>
        <td></td>
        <td style="visibility: hidden">
                <button mat-fab color="success" (click)="Add()">Agregar</button>
        </td>
    </tr>
    <tr style="visibility: hidden">
        <td> 
         <div>
          <mat-form-field appearance="outline">
            <mat-label>Codigo Articulo</mat-label>
            <input matInput type="text" [ngModel]="this._articule.Code" disabled=true > 
         </mat-form-field>
        </div> 
        </td>
        <td > 
            <div>
                <mat-form-field style="text-align: center"  appearance="outline">
                  <mat-label style="text-align: center">Precio</mat-label>
                  <input matInput type="text"  [ngModel]="this._articule.Price" disabled=true > 
               </mat-form-field>   
            </div>        
        </td>
        <td></td>
    </tr>
    <tr style="visibility: hidden">
        <td >
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [ngModel]="this._articule.Name" disabled=true > 
             </mat-form-field>
            </div>
        </td>       
        <td > 
            <div>
                <mat-form-field appearance="outline">
                  <mat-label>Marca</mat-label>
                  <input matInput type="text" [ngModel]="this._articule.Brand" disabled=true > 
               </mat-form-field>
            </div>
          </td>
         <td></td>
    </tr>
    <tr>
        <td colspan="2" style="visibility: hidden">
                <mat-form-field class="example-full-width">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput placeholder="Descripcion" disabled=true [ngModel]="this._articule.Description"></textarea>
                </mat-form-field>
        </td>
        <td></td>
        <td><button mat-flat-button color="warn">Finalizar</button></td>
    </tr>
</table>
<table class="table pd-b-5" >
    <thead>
        <tr >
            <th *ngFor="let column of this._columns">
                {{column.headerName}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of this._rowData">
            <td >{{r.Code}}</td>
            <td>{{r.Name}}</td>
            <td >{{r.Brand}}</td>
            <td >{{r.Price}}</td>
            <td><button class="TransparentButton" (click)="delete(r.Code)" > -   </button>{{r.Unity}}<button class="TransparentButton" (click)="Add(r.Code)" >   + </button ></td>
            <td>{{r.SubTotal}}</td>
            <td > <button mat-button style="text-align: center; padding-bottom: 1%" (click)="remove(r.Code)" >x</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bold" >Total:</td>
            <td class="bold">{{this._total}}</td>
        </tr>
    </tbody>
</table>
