<mat-sidenav-container class="sidenav-container" color="primary">>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" >Menu</mat-toolbar>
    <!--<mat-nav-list *ngFor='let screen of this.screens'>
      <a mat-list-item >{{screen.Titulo}}</a>-->
     
   <!--</mat-nav-list>-->
   <mat-accordion displayMode=""  >
    <mat-expansion-panel *ngFor="let item of this.screens">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell">{{item.Titulo}}</span>
      </mat-expansion-panel-header>
      
        <div *ngFor="let i of item.SubTitulo">
         
            <a mat-button href="../../../{{i.Titulo}}" style="width: 100%; text-align: left" id="btn{{i.Titulo}}">{{i.Titulo}}</a>
           
         
        </div>
    
    </mat-expansion-panel>
  </mat-accordion>




  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span  *ngIf="isHandset$ | async">Menu</span>
    </mat-toolbar>
   
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>