.buttonPadding{
  padding-top: 5;
  padding-bottom: 5;
}
.right{
  align-content: right;
   display: block;
   position: absolute;
  justify-content:  right;
  margin-left: auto;
  margin-right: auto;
}

.Center{  
  position: absolute;
    top: 20%;
    left: 40%;
  
    width: 35%;
    height: 35%;
}
.input{
  width: 60%;
}

form{  
  height: 100%;
  width:50%; 
  margin:0 auto;
}

@media screen and (max-width: 500px) {
  .input{
    width: 100% important!;
  }
  .Center{  
    position: absolute;
    top: 20%;
    left: 20%;
    
      width: 100%;
      height: 100%;
  }
  div{
    width: 100%;
  }
  

}

