<div fxFlex="100%" fxLayout="row wrap" >
  <form [formGroup]="formControl" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center"> 
      <app-inputrequired fxFlex="100%" fxLayout="row" title="{{'USERS.USERNAME' | translate}}"  formControlName="userName"></app-inputrequired>  
      <app-inputrequired   fxFlex="100%" fxLayout="row" title="{{'USERS.PASSWORD' | translate}}"  formControlName="password"></app-inputrequired>  
    </div>
    
  
  </form>

  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center end">
    <button mat-raised-button mat-dialog-close>
      <span class="mx-8">
        Cancelar
      </span>
    </button>
    <button mat-raised-button color="primary" class="ml-8" (click)="onConfirm()">
      <span class="mx-8">
        Aceptar
      </span>
    </button>
  </div>

</div>

  
 
  