
<div class="header">
  <div class="title" fxFlex  fxLayout="row" fxLayoutAlign="start start">{{'NAV.ADMINISTRATION.SUBTITLES.PROFILE' | translate}}</div>
</div>
<form [formGroup]="userControl">
  
    <div fxFlex="100" class="center card" >
    <div  class="wrapper">
      <div class="one">      
        <app-inputrequired title="{{'USERS.NAME' | translate}}"  formControlName="first_name"></app-inputrequired>

        <mat-form-field  class="datePicker" floatLabel="always"  appearance="outline">
          <mat-label>{{'USERS.DATEBORN' | translate}}</mat-label>
          <input matInput  [matDatepicker]="picker2" placeholder="dd/mm/yyyy" formControlName="dateBorn" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <ng-container *ngIf="userControl.controls.dateBorn.touched">
          <mat-error *ngIf="userControl.controls.dateBorn.hasError('required')">{{'ERROR-MESSAGE.REQUIRED' | translate}}</mat-error>         
          <ng-content></ng-content>
      </ng-container>
       
        <app-inputrequired title="{{'USERS.EMAIL' | translate}}"  formControlName="email" [type]="'text'"></app-inputrequired>
        <app-inputrequired title="{{'USERS.POSTALCODE' | translate}}"  formControlName="postalCode" [type]="'text'"></app-inputrequired>
       
       

        <mat-form-field  appearance="outline">
          <mat-label>{{'USERS.OFFICE' | translate}}</mat-label>
          <mat-select formControlName="office">                       
            <mat-option *ngFor="let r of officeData" [value]="r.id" >
              {{r.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="userControl.controls.office.touched">
          <mat-error  *ngIf="userControl.controls.office.hasError('required')">{{'ERROR-MESSAGE.REQUIRED' | translate}}</mat-error>         
          <ng-content></ng-content>
        </ng-container>
        <mat-form-field *ngIf="showPermissionAdmin()" appearance="outline">
          <mat-label>{{'USERS.STATE' | translate}}</mat-label>
          <mat-select formControlName="state" [(value)]="userControl.controls.state">                       
            <mat-option [value]="true">{{'STATES-LIST.ENABLED' | translate}}</mat-option>    
            <mat-option [value]="false">{{'STATES-LIST.DISABLED' | translate}}</mat-option>   
          </mat-select>  
        </mat-form-field>

      </div>
      <div class="two">
        
        <app-inputrequired title="{{'USERS.LASTNAME' | translate}}"  formControlName="last_name"></app-inputrequired>

        <mat-form-field class="datePicker" floatLabel="always"  appearance="outline">
          <mat-label>{{'USERS.DATEADMISSION' | translate}}</mat-label>
          <input matInput  [matDatepicker]="picker1" placeholder="dd/mm/yyyy" formControlName="dateAdmission" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <ng-container *ngIf="userControl.controls.dateAdmission.touched">
          <mat-error  *ngIf="userControl.controls.dateAdmission.hasError('required')">{{'ERROR-MESSAGE.REQUIRED' | translate}}</mat-error>         
          <ng-content></ng-content>
      </ng-container>

       
        <app-inputrequired title="{{'USERS.ADDRESS' | translate}}"  formControlName="address" [type]="'text'"></app-inputrequired>
        <mat-form-field  appearance="outline">
          <mat-label>{{'USERS.ROLE' | translate}}</mat-label>
          <mat-select formControlName="role">                       
            <mat-option *ngFor="let r of rolesData" [value]="r.id" >
              {{'ROLE-LIST.'+r.description | translate}} 
            </mat-option>
          </mat-select>  
        </mat-form-field>
        <ng-container *ngIf="userControl.controls.role.touched">
          <mat-error  *ngIf="userControl.controls.role.hasError('required')">{{'ERROR-MESSAGE.REQUIRED' | translate}}</mat-error>         
          <ng-content></ng-content>
        </ng-container>
        <mat-form-field  appearance="outline">
          <mat-label>{{'USERS.COUNTRY' | translate}}</mat-label>
          <mat-select formControlName="country" >                       
            <mat-option *ngFor="let r of countriesData" [value]="r.id" >
              {{r.description | translate}} 
            </mat-option>
          </mat-select>  
        </mat-form-field>
        <ng-container *ngIf="userControl.controls.role.touched">
          <mat-error  *ngIf="userControl.controls.role.hasError('required')">{{'ERROR-MESSAGE.REQUIRED' | translate}}</mat-error>         
          <ng-content></ng-content>
        </ng-container>
       
        
      </div>
      <div class="three">
        <app-inputrequired title="{{'USERS.USERNAME' | translate}}"  formControlName="userName"></app-inputrequired>
        <app-inputrequired title="{{'USERS.PASSWORD' | translate}}"  formControlName="password"></app-inputrequired>
        <img width="220px" height="200px" [src]="this.fileSelected == undefined ? image :  this.cameraImage" (click)="OnFileSelected($event)" >
        <!--<button mat-stroked-button style="width: 100%; height: 300px" (click)="OnFileSelected($event)" [disabled]="this._data.bDsiable">Image</button>-->
        <input  type="file" #file (change)="OnFileSelected($event)" style="visibility: hidden" />
        
      </div>
    
    </div> 
    <div fxFlex="20%"  fxLayout="row" fxLayoutAlign="end center" class="paddignButton">
     <button mat-raised-button color="accent"   [disabled]="userControl.pristine || userControl.invalid" (click)="saveUsuario()">{{'GENERALACTIONS.SAVE' | translate}}</button>
  </div>
  </div>
    </form>
   

           
             
    
